.container{
	background-color: #f1f1f1;
	box-sizing: border-box;
}

/* three columns */

.col-sm-4 {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  border: 15px solid #f1f1f1; 
  padding-top: 10px;
  overflow: hidden;
}

/*description box background*/

.description{
	border-radius: 25px;
	text-align: center;
  width: 330px;
  height: 250px;
  transform: rotate(-9deg);
  margin-left: -20px;
}

/*description box container*/

.context{
	transform: rotate(9deg);
	/*padding-top: 20px;*/
  text-align: center;
}

/* pokemon name */

.name{
  text-align: center;
  margin-right: -5px;
  padding-top: 20px;
}

/*description box matter*/

.matter{
	writing-mode: horizontal-tb; 
	margin-right: 10px;
  text-align: center;
  padding:  30px;
}

/*style for images*/

.cards{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

/* mobile screen */

@media screen and (max-width: 600px) {

  /* three columns */

  .col-sm-4 {
    width: 100%;
    display: block;
    border: 0px solid #f1f1f1;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 20px 5px;
}

/*description box background*/

 .description{
	border-radius: 25px;
  width: 290px;
  height: 180px;
  transform: rotate(-9deg);
}

/*description box container*/

.context{
	transform: rotate(9deg);
	padding-top: 20px;
}

/*description box matter*/

.matter{
	writing-mode: horizontal-tb; 
	text-align: justify;
	text-justify: inter-word;
}

/*style for images*/

.cards{
		width: 250px;
		height: 250px;
		border-radius: 50%;
		display: block;
  	margin-left: auto;
  	margin-right: auto;
}	
}





